<div class="jumbotron p-3">
  <div class="card p-3 mb-3">
    <div class="d-flex bd-highlight">
      <div class="me-auto p-2 bd-highlight">
        <h3>QUẢN CHƯƠNG TRÌNH KHUYẾN MÃI</h3>
      </div>
      <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-primary">
          <a style="color: white ; text-decoration: none" href="promotion/add">
            Thêm mới
          </a>

        </button>
      </div>
    </div>
  </div>
  <div class="card p-3 mb-3">

  </div>
  <% if(data.length> 0) { %>
    <table class="table table-bordered bg-white mt-3">
      <thead>
        <tr>
          <th scope="col-2">Mã chương trình</th>
          <th scope="col-2">Tiêu đề chương trình</th>
          <th scope="col-1">Giảm giá</th>
          <th scope="col-2">Thời gian bắt đầu</th>
          <th scope="col-2">Thời gian kết thúc</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(item, index) { %>
          <tr>
            <td scope="w-2">
              <%= item.id %>
            </td>
            <td style="cursor: pointer" class="w-25" data-bs-toggle="tooltip" data-bs-placement="right">
              <span class="d-inline-block text-truncate" style="max-width: 200px">
                <%= item.title %>
              </span>
            </td>
            <td scope="w-2">
              <%= item.discountPercents %>%
            </td>
            <td scope="w-2">
              <%= item.startDate %>
            </td>
            <td scope="w-2">
              <%= item.expriedDate %>
            </td>

            <td class="w-2">
              <button
              data-bs-toggle="modal"
              data-bs-target="#editModal"
              type="button"
              class="btn btn-outline-primary"
              onclick='editcategory("<%= item.id %>")'
            >
            <i class="bi bi-pencil-square"></i>
            </button>
            <button
            onclick='deletecategory("<%= item.id %>")'
            type="button"
            class="btn btn-outline-danger"
          >
          <i class="bi bi-shield-lock"></i>
          </button>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination" id="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <% for(var i=1; i <=pages; i++) { %>
          <% var isActived=( i===currentPage ) ? "active" : "" ; %>
            <li class="page-item <%= isActived %>">
              <a class="page-link" href="/admin/promotion?page=<%= i %>">
                <%= i %>
              </a>
            </li>
            <% }; %>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
      </ul>
    </nav>
    <% } else { %>
      <div class="col-12">
        <div class="card bg-light p-5">
          <img style="margin: auto" width="200px" height="200px"
            src="https://cdn0.fahasa.com/skin//frontend/ma_vanese/fahasa/images/checkout_cart/ico_emptycart.svg" />
          <div class="fst-italic m-auto">
            Không tìm thấy chương trình phù hợp &#128517;
          </div>
        </div>
      </div>
      <% } %>
</div>