<div class="jumbotron p-3">
  
  <div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight"><h3>Danh sách khách hàng</h3></div>
    
  </div>
  <div class="card p-3 mb-3">
    <form action="/admin/user/list" method="get">
      <div class="d-flex justify-content-around align-items-center">
        <div class="p-2">
          <input id="username" name="username" type="text" class="form-control" placeholder="Tên tài khoản" value="<%= filters.username %>"/>
        </div>
        <div class="p-2">
          <input id="email" name="email" type="text" class="form-control" placeholder="Email" value="<%= filters.email %>"/>
        </div>
        <div style="width: 250px;" class="p-2">
          <select id="status" name="status" class="form-select" aria-label="status select">
            <option hidden value="" <%= filters.status==='' ? 'selected' : "" %>>Trạng thái</option>
            <option value="true" <%= filters.status==='true' ? 'selected' : "" %>>Đã kích hoạt</option>
            <option value="false" <%= filters.status==='false' ? 'selected' : "" %>>Chưa kích hoạt</option>
          </select>
        </div>
        <div class="p-2">
          <button class="btn btn-primary" type="submit">Tìm kiếm</button>
          <button type="button" class="btn btn-outline-secondary" onclick="onClickResetUser()">Reset</button>
        </div>
      </div>
    </form>
  </div>
  <% if(users.length > 0) { %>
  <table class="table table-bordered bg-white mt-3">
    <thead>
      <tr>
        <th scope="col">Mã khách hàng</th>
        <th scope="col">Họ tên</th>
        <th scope="col">Email</th>
        <th scope="col">Tên tài khoản</th>
        <th scope="col">Tổng số đơn hàng</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(item, index) { %>
      <tr>
        <th scope="row"><%= item._id %></th>
        <td><%= item.fullname %></td>
        <td><%= item.email %></td>
        <td><%= item.username %></td>
        <td><%= item.orders %></td>
        <td>
          <% if(item.active == false) { %>
          <span class="badge rounded-pill bg-danger">Chưa kích hoạt</span>
          <% } %> <% if(item.active == true) { %>
          <span class="badge rounded-pill bg-success">Đã kích hoạt</span>
          <% } %>
        </td>
        <td>
          <% if(item.active == false) { %>
          <form method="post" action="/admin/user/active">
            <input type="hidden" name="uid" value="<%= item._id %>" />
            <button
              type="submit"
              class="btn btn-outline-success"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Kích hoạt"
            >
              <i class="bi bi-unlock"></i>
            </button>
          </form>

          <% } %> <% if(item.active == true) { %>
          <form method="post" action="/admin/user/block">
            <input type="hidden" name="uid" value="<%= item._id %>" />
            <button
              type="submit"
              class="btn btn-outline-danger"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Khóa"
            >
              <i class="bi bi-lock"></i>
            </button>
          </form>
          <% } %>
        </td>
      </tr>
      <%});%>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% for(var i=1; i <= pages; i++) { %>
        <% var isActived = ( i === currentPage ) ? "active" : ""; %>
      <li class="page-item <%= isActived %>">
        <a class="page-link" href="/admin/user/list?page=<%= i %>"><%= i %></a>
      </li>
      <% }; %>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <% } else { %>
    <div class="col-12">
      <div class="card bg-light p-5">
        <img
          style="margin: auto"
          width="200px"
          height="200px"
          src="https://cdn0.fahasa.com/skin//frontend/ma_vanese/fahasa/images/checkout_cart/ico_emptycart.svg"
        />
        <div class="fst-italic m-auto">
          Không tìm thấy Khách hàng phù hợp &#128517;
        </div>
      </div>
    </div>
  <% } %>
</div>
